/* .x img {
  width: 500px;
  height: 300px;
} */
/* .awssld__content > img {
  width: 500px;
  height: 300px;
  border-radius: 50%;
} */

/* .awssld__content {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
} */
